<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- BS4 -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Fancybox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{> navigation}}

    <main class="container">
        
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="item col-sm-6 col-md-4 mb-3">
                    <a href="./img/genshin_oc.png" class="fancybox" data-fancybox="gallery1">
                        <img src="./img/genshin_oc.png" width="100%" height="100%">
                    </a>
                </div>
                <div class="item col-sm-6 col-md-4 mb-3">
                    <a href="./img/fishbone_christmas_uwu.png" class="fancybox" data-fancybox="gallery1">
                        <img src="./img/fishbone_christmas_uwu.png" width="100%" height="100%">
                    </a>
                </div>
                <div class="item col-sm-6 col-md-4 mb-3">
                    <a href="./img/MW_Seulgi.png" class="fancybox" data-fancybox="gallery1">
                        <img src="./img/MW_Seulgi.png" width="100%" height="100%">
                    </a>
                </div>
            </div>
        </div>

                    {{{ body }}}
    </main>

    {{> footer}}
</body>

</html>